{% extends "base.html" %}

{% block title %}Members - LEO{% endblock %}

{% block content %}

<h2>Services</h2>

<p class="text-success"><strong>If you can see this page in PythonAnywhere, then your database and connect.py 
    are correctly configured.</strong>  </p>

<table class="table">
    <tr>
        <th>Member ID</th>
        <th>Name</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.member_id }}</td>
        <td>{{member.first_name}} {{member.last_name}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}