{% extends "base.html" %}

{% block title %}Members - LEO{% endblock %}

{% block content %}

<h2>Members</h2>

<form method="GET" action="/members">

    <input type="text" name="search" placeholder="Search member">

    <button type="submit">Search</button>

</form>

<br>

<table border="1" cellpadding="10" cellspacing="0" width="100%" style="border-collapse: collapse;">

    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>

    <tr>
        <th>Member ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    {% for member in members %}
<tr>
    <td>{{ member[0] }}</td>
    <td>
        <a href="/member/{{ member[0] }}">
            {{ member[1] }} {{ member[2] }}
        </a>
    </td>
    <td>{{ member[3] }}</td>
    <td>{{ member[4] }}</td>
</tr>
{% endfor %}

</table>


{% endblock %}